:root{
    --primary-color: #3c64b1;
    --heading-color: #373F41;
    --text-color: #737B7D;
}

*{
    box-sizing: border-box;
}

html{
    font-family: 'Mulish', sans-serif;
    font-size: 62.5%;
    line-height: 1.6rem;
}

.wrapper{
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}

.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    border: none;
    font-family: 'Mulish', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.3px;
    height: 42px;
    padding: 12px 18px;
    color: #fff;
    background-color:var(--primary-color);
    text-decoration: none;
}